  form {
    background: white;
    width: 100%;
  }
  
  .form-field {
    position: relative;
  }
  
  .title {
    font-size: 1.7rem;
    font-weight: 300;
    border-bottom: 1px solid #dbe3ec;
    padding: 5px;
    margin: 0 0 40px 0;
  }
 
 .formwrapper {
    position: relative;
    background: white;
    width: 350px;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
    padding: 10px;
  }
  .formwrapperright {
    position: center;
	left: 20%;
    background: white;
    width: 350px;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
    padding: 10px;
  }
  
  .sidewrapper {
    position: relative;
    background: white;
    width: 280px;
	min-height:600px;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
    padding: 10px;
  }
  
  body{
	  margin-top: 20px;
	  background-color:white;
	  
  }

  .main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}
 
  .card{
	  position:relative;
	  display:flex;
	  flex-direction:column;
  }
  .content{
	  background-color:white;
  }