<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
	<body>
	 <div class="navdiv">
            
            <nav>
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('get_events') }}"> My Events</a> ||
                <a href="{{ url_for('new_event') }}">Add Event</a>
            </nav>
        
        </div>
		<nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
		<div class="main">
        <h2>My Account</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
					 

                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td> {{user.first_name}} </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>Bali, Indonesia</td>
                        </tr>
                        <tr>
                            <td>Interests</td>
                            <td>:</td>
                            <td>Diving, Reading Book</td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>Web Developer</td>
                        </tr>
                        <tr>
                            <td>Skill</td>
                            <td>:</td>
                            <td>PHP, HTML, CSS, Java</td>
                        </tr>
						
                    </tbody>
                </table>
            </div>
        </div>
		</div>
	</body>
<html>